<% include ../partials/header.ejs %>
<div class="container" style="text-align: center; margin-top: 5%" >
    <h1>Create a new Campsite</h1>

    <form action="/campgrounds" method="POST" style="margin-top: 5%">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Enter the name of campsite">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="image" placeholder="Enter the image url">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="discription" placeholder="Enter the dispcription">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info btn-block">Create</button>
        </div>

    </form>
    <a href="/campgrounds" style="position: absolute; left:25%;">Go back</a>
</div>
<% include ../partials/footer.ejs %>